@import '../../index.scss';

.Introduction__notationContainer{
    margin: 20px 0 0 0;
    width: auto;
    display: flex;
    justify-content: end;

    @media (max-width: $small-screen) {
        margin:auto 0;
        justify-content: start;
    }

    .Introduction__notationStar {
        width: 15px;
        height: 15px;
        margin: 0 2px;
    }
}

