@import '../../index.scss';

.Introduction__tagsContainer {
    display: flex;

    .Introduction__tags {
        margin: 0 10px 0px 0;
        width: auto;
        padding: 5px 40px;
        border-radius: 10px;
        background-color: $primary-color;
        color: $secondary-color;
        text-align: center;
        align-self: center;
        font-size: 1em;

        @media (max-width: $small-screen) {
            padding: 5px 4px;
            font-size: 0.8em;
        }
    }
}