.header {
    margin: 50px auto 25px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
margin: 0 55px;
color:#FF6060;
text-decoration: none;
}

.active {
    text-decoration: underline;
}