.housingGallery__thumb {
    margin: 25px;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent 30%);
    display: flex;
    position: relative;

        .thumb__image {
            height: 100%;
            width: 100%;
            object-fit:cover;
            border-radius: 10px;
            mix-blend-mode: darken;  
        }

        .thumb__text {
            width: 60%;
            position: absolute;
            left: 20px;
            bottom: 10px;
            color: white;
        }
}