.header {
    font-family: 'Montserrat';

    max-width: 1240px;
    margin: 50px auto 25px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 375px) {
        width: 90%;
        margin: 25px auto;
    }

    img {
        width: 100%;
        height: auto;
    }

    &__link {
        margin: 0 0 0 55px;
        color:#FF6060;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 500;
        
            &.active {
                text-decoration: underline;
            }

            @media (max-width: 375px) {
                font-size: 1em;
                margin: 0 0 0 15px;
                text-transform: uppercase;
            }
    } 

@media (max-width: 375px) {

        &__logo {
            width: 40%;
        }

        nav {
            width: 60%;
            display: flex;
            justify-content: end;
        }

}

}




