.housingBackground {
    margin: 25px auto;
    padding: 50px 25px;
    background-color: #F6F6F6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.pagination {
    position: absolute;
    bottom: 30px;
    width: 20%;
    //positionné au milieu de la page moins la moitié de la largeur de l'élément
    left:calc(50% - 10%);
}