.housingBackground {
    margin: 25px auto;
    padding: 50px 25px;
    background-color: #F6F6F6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    position: relative;
}