@import '../../index.scss';

.housingBackground {
    margin: 25px auto;
    padding: 50px 35px;
    background-color: #F6F6F6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    position: relative;
    --screenWidth: desktop;
    
        @media (max-width: $small-screen) {
            justify-content: center;
            background-color: transparent;
            margin: 0;
            padding: 0 0 50px 0;
            --screenWidth: mobile;
        }
        //Attention, ici, le media querie concerne le format desktop
        @media (min-width: 641px) {
            > :nth-last-child(-n+2) {
                margin: 25px;
            }
        }
}

.pagination {
    position: absolute;
    bottom: 30px;
    width: 70%;

    //Attention, ici, le media querie concerne le format desktop
    @media (min-width: (641px)) {
        width: 20%;
        //positionné au milieu de la page moins la moitié de la largeur de l'élément
        left: calc(50% - 10%);
    }
    
}